@model EntityLayer.Concrete.CargoTable
@{
    ViewData["Title"] = "Cargo Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2"><b>@ViewData["Title"]</b></h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        @using (Html.BeginForm("CargoAdd", "Cargo", FormMethod.Post))
        {
            @Html.HiddenFor(x=>x.CargoID,new{@class="form-control"})


            <br />
            <b>Cargo Name</b>
            @Html.TextBoxFor(x=>x.CargoName,new{@class="form-control"})


            <br />
            <b>City</b>
            @Html.TextBoxFor(x=>x.City,new{@class="form-control"})
            <br />

           
            <b>Country</b>
            @Html.TextBoxFor(x=>x.Country,new{@class="form-control"})
            <br />


          
            <b>Name Surname</b>
            @Html.TextBoxFor(x=>x.NameSurname,new{@class="form-control"})
            <br />



       
            <b>Phone Number</b>
            @Html.TextBoxFor(x=>x.PhoneNumber,new{@class="form-control"})
            <br />


            <div class="form-grop mb-3 d-grid">
                <button class="btn btn-info text-white d-block"><i class="fas fa-plus"></i>  <b>@ViewData["Title"]</b></button>
                <a href="/AdminOperations/Cargo/CargoList" class="btn btn-danger text-white"><i class="fas fa-sign-out-alt"></i>  <b>Cancel</b></a>
            </div>
        }
    </div>
</div>

