<div class="row">
    <div class="col-lg-6 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.V1</h3>

                <p>
                    All Order Numbers
                </p>
            </div>
           <progress max="100" value="@ViewBag.V1"></progress>
            <div class="icon">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <a href="/AdminOperations/Order/OrderAllList" class="small-box-footer"><b>More info</b> <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg63 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewBag.V2</h3>

                <p>
                    Number of Products
                </p>
            </div>
            <progress max="100" value="@ViewBag.V2"></progress>
            <div class="icon">
                <i class="fas fa-shopping-bag"></i>
            </div>
            <a href="/AdminOperations/Product/ProductList" class="small-box-footer"><b>More info</b> <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div>

<div class="row">
    <!-- ./col -->
    <div class="col-lg-6 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3 class="text-white">@ViewBag.V3</h3>

                <p class="text-white">
                    Number of Users Logged In
                </p>
                <progress max="100" value="@ViewBag.V3"></progress>
            </div>
            <div class="icon">
                <i class="fas fa-user"></i>
            </div>
            <a href="/AdminOperations/UserAdmin/UserAdminList" class="small-box-footer text-white"><b class="text-white">More info</b> <i class="fas fa-arrow-circle-right text-white"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-6 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">

            <div class="inner">
                <h3>@ViewBag.V4</h3>

                <p>
                    Number of Categories
                </p>
                <progress max="100" value="@ViewBag.V4"></progress>
            </div>
            <div class="icon">
                <i class="fas fa-star"></i>
            </div>
            <a href="/AdminOperations/Category/CategoryList" class="small-box-footer"><b>More info</b> <i class="fas fa-arrow-circle-right"></i></a>

        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->






<div class="row">
    <!-- ./col -->
    <div class="col-lg-6 col-6">
        <!-- small box -->
        <div class="small-box bg-dark">
            <div class="inner">
                <h3 class="text-white">@ViewBag.V5</h3>

                <p class="text-white">
                    Number of Comments Made
                </p>
                <progress max="100" value="@ViewBag.V5"></progress>
            </div>
            <div class="icon">
                <i class="fas fa-comment"></i>
            </div>
            <a href="/AdminOperations/Comment/CommentList" class="small-box-footer text-white"><b class="text-white">More info</b> <i class="fas fa-arrow-circle-right text-white"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-6 col-6">
        <!-- small box -->
        <div class="small-box bg-primary">

            <div class="inner">
                <h3>@ViewBag.V6</h3>

                <p>

                    Number of Messages Made
                </p>
                <progress max="100" value="@ViewBag.V6"></progress>
            </div>
            <div class="icon">
                <i class="fas fa-comment-alt"></i>
            </div>
            <a href="/Message/MessageList" class="small-box-footer"><b>More info</b> <i class="fas fa-arrow-circle-right"></i></a>

        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->




<div class="row">
    <!-- ./col -->
    <div class="col-lg-6 col-6">
        <!-- small box -->
        <div class="small-box" style="background-color:	#FF00FF;">
            <div class="inner">
                <h3 class="text-white">@ViewBag.V7</h3>

                <p class="text-white">

                    Number of Cargo
                </p>
                <progress max="100" value="@ViewBag.V7"></progress>
            </div>
            <div class="icon">
                <i class="fa fa-truck"></i>
            </div>
            <a href="/AdminOperations/Cargo/CargoList" class="small-box-footer text-white"><b class="text-white">More info</b> <i class="fas fa-arrow-circle-right text-white"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-6 col-6">
        <!-- small box -->
        <div class="small-box" style="background-color:	#8b7500;">

            <div class="inner">
                <h3 style="color:white;">@ViewBag.V8</h3>

                <p style="color:white;">
                    Number of Best Sellers
                </p>
                <progress max="100" value="@ViewBag.V8"></progress>
            </div>
            <div class="icon">
                <i class="fas fa-trophy"></i>
            </div>
            <a href="/AdminOperations/BestSellers/BestSellersList" class="small-box-footer"><b>More info</b> <i class="fas fa-arrow-circle-right"></i></a>

        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->