@model EntityLayer.Concrete.CategoryTable
@{
    ViewData["Title"] = "Category Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2"><b>@ViewData["Title"]</b></h1>
    </div>
</div>
<div class="row">
    <div class="col-4 offset-4">
        @using (Html.BeginForm("CategoryEdit", "Category", FormMethod.Post))
        {
            @Html.HiddenFor(x=>x.CategoryID,new{@class="form-control"})
            //Guid ID Güncellenmeyecek
            <br />

            <b>Name</b>
            @Html.TextBoxFor(x=>x.CategoryName,new{@class="form-control"})
            <br />


            <b>Images</b>
            @Html.TextBoxFor(x=>x.CategoryImages,new{@class="form-control"})
            <br />


            <b>Create Date</b>
            @Html.TextBoxFor(x=>x.CategoryCreateDate,new{@class="form-control"})
            <br />


            <b>Stok</b>
            @Html.TextBoxFor(x=>x.CategoryStok,new{@class="form-control"})
            <br />

            <b>Gender</b>
            @Html.DropDownListFor(x=>x.GenderID,(List<SelectListItem>)ViewBag.gv,new{@class="form-control"})
            <br />

            <div class="form-grop mb-3 d-grid">
                <button class="btn btn-info text-white d-block"><i class="fas fa-pencil-alt"></i>  <b>@ViewData["Title"]</b></button>
                <a href="/AdminOperations/Category/CategoryList" class="btn btn-danger text-white"><i class="fas fa-sign-out-alt"></i>  <b>Cancel</b></a>
            </div>
        }
    </div>
</div>








