@model EntityLayer.Concrete.UserAdminTable
@{
    ViewData["Title"] = "User Admin Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2"><b>@ViewData["Title"]</b></h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        @using (Html.BeginForm("UserAdminEdit", "UserAdmin", FormMethod.Post))
        {
            @Html.HiddenFor(x=>x.ID,new{@class="form-control"})
            //Guid ID Güncellenmeyecek
            <br />

            <b>Name Surname</b>
            @Html.TextBoxFor(x=>x.NameSurname,new{@class="form-control"})


            @Html.HiddenFor(x=>x.Password,new{@class="form-control"})
            //Password alanı Güncellenmeyecek
            <br />

            <b>Create Date</b>
            @Html.TextBoxFor(x=>x.CreateDate,new{@class="form-control"})
            <br />

            <b>Locked</b>
            @Html.TextBoxFor(x=>x.Locked,new{@class="form-control"})
            <br />

            <b>Role</b>
            @Html.TextBoxFor(x=>x.Role,new{@class="form-control"})
            <br />


            <b>Profile Images</b>
            @Html.TextBoxFor(x=>x.ProfileImages,new{@class="form-control"})
            <br />


            <b>Address</b>
            @Html.TextAreaFor(x=>x.Address,new{@class="form-control",@rows="5"})
            <br />



            <div class="form-grop mb-3 d-grid">
                <button class="btn btn-warning text-white d-block"><i class="fas fa-pencil-alt"></i>  <b>@ViewData["Title"]</b></button>
                <a href="/AdminOperations/UserAdmin/UserAdminList" class="btn btn-danger text-white"><i class="fas fa-sign-out-alt"></i>  <b>Cancel</b></a>
            </div>
        }
    </div>
</div>




