@model EntityLayer.Concrete.ProductTable
@{
    ViewData["Title"] = "Product Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2"><b>@ViewData["Title"]</b></h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        @using (Html.BeginForm("ProductEdit", "Product", FormMethod.Post))
        {
            @Html.HiddenFor(x=>x.ProductID,new{@class="form-control"})
            //Guid ID Güncellenmeyecek
            <br />

            <b>Name</b>
            @Html.TextBoxFor(x=>x.ProductName,new{@class="form-control"})
            <br />


            <b>Title</b>
            @Html.TextBoxFor(x=>x.ProductTitle,new{@class="form-control"})
            <br />



            <b>Product Images</b>
            @Html.TextBoxFor(x=>x.ProductImages,new{@class="form-control"})
            <br />

            <b>Price</b>
            @Html.TextBoxFor(x=>x.ProductPrice,new{@class="form-control"})
            <br />


            <b>Stok</b>
            @Html.TextBoxFor(x=>x.ProductStok,new{@class="form-control"})
            <br />


            <b>Create Date</b>
            @Html.TextBoxFor(x=>x.ProductCreateDate,new{@class="form-control"})
            <br />


            <b>Category Adı</b>
            @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.cv,new{@class="form-control"})
            <br />

            <b>Description</b>
            @Html.TextAreaFor(x=>x.ProductDescription,new{@class="form-control",@rows="5"})
            <br />

            <div class="form-grop mb-3 d-grid">
                <button class="btn btn-info text-white d-block"><i class="fas fa-pencil-alt"></i>  <b>@ViewData["Title"]</b></button>
                <a href="/AdminOperations/Product/ProductList" class="btn btn-danger text-white"><i class="fas fa-sign-out-alt"></i>  <b>Cancel</b></a>
            </div>
        }
    </div>
</div>


