@model EntityLayer.Concrete.ProductTable
@{
    ViewData["Title"] = "Product Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2"><b>@ViewData["Title"]</b></h1>
    </div>
</div>
<div class="row">
    <div class="col-4 offset-4">
        @*<form method="post" enctype="multipart/form-data">
            <br />
            <b>Name</b>
            <input name="ProductName" type="text" class="form-control" />
            <br />


            <b>Title</b>
            <input name="ProductTitle" type="text" class="form-control" />
            <br />


            <b>Description</b>
            <input name="ProductDescription" type="text" class="form-control" />
            <br />


            <b>Product Images</b>
            <input name="productfile" type="file" class="form-control" accept=".jpg" />
            <br />


            <b>Price</b>
            <input name="ProductPrice" type="text" class="form-control" />
            <br />
            


            <b>Stok</b>
            <input name="ProductStok" type="text" class="form-control" />
            <br />




            <b>Category</b>
            <input name="CategoryID" type="text" class="form-control" />
            <br />


           

            <div class="form-grop mb-3 d-grid">
                <button class="btn btn-info text-white d-block"><i class="fas fa-plus"></i>  <b>@ViewData["Title"]</b></button>
                <a href="/AdminOperations/Product/ProductList" class="btn btn-danger text-white"><i class="fas fa-sign-out-alt"></i>  <b>Cancel</b></a>
            </div>



        </form>*@



        <form method="post" enctype="multipart/form-data">
            @using (Html.BeginForm("ProductAdd", "Product", FormMethod.Post))
            {
                @Html.HiddenFor(x=>x.ProductID,new{@class="form-control"})
                //Guid ID Güncellenmeyecek
                <br />

                <b>Name</b>
                @Html.TextBoxFor(x=>x.ProductName,new{@class="form-control"})
                <br />


                <b>Title</b>
                @Html.TextBoxFor(x=>x.ProductTitle,new{@class="form-control"})
                <br />




                <b>Product Images</b>
                <input name="productfile" type="file" class="form-control" accept=".jpg" />
                <br />


                <b>Price</b>
                <input type="number" name="ProductPrice" value="0" max="600000" min="0" class="form-control" />
                <br />


                <b>Stok</b>
                <input type="number" name="ProductStok" value="0" max="3000" min="0" class="form-control" />
                <br />



                <b>Category Adı</b>
                @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.cv,new{@class="form-control"})
                <br />


                <b>Description</b>
                @Html.TextAreaFor(x=>x.ProductDescription,new{@class="form-control",@rows="5"})
                <br />

                <div class="form-grop mb-3 d-grid">
                    <button class="btn btn-info text-white d-block"><i class="fas fa-plus"></i>  <b>@ViewData["Title"]</b></button>
                    <a href="/AdminOperations/Product/ProductList" class="btn btn-danger text-white"><i class="fas fa-sign-out-alt"></i>  <b>Cancel</b></a>
                </div>
            }
        </form>
    </div>
</div>








